.counter_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    background-color: gold;
    width: 40vw;
    height: 6vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.contianer {
    display: flex;
    justify-content: center;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid rgb(215, 127, 12);
}

.counter:hover {
    background-color: rgb(246, 243, 197);
}

.number {
    font-size: 7rem;
}

.button {
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    background-color: rgb(215, 127, 12);
    background: linear-gradient(
        90deg,
        rgba(215, 127, 12, 1) 0%,
        rgba(253, 220, 29, 1) 100%
    );
}

.total {
    font-size: 1rem;
}
